<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%= data.id %>
        <%= data.name %>
            <%= data.price %>
                <button type="button" onclick='location.href="/shop/update/<%= data.id %>"'>수정</button>
                <button type="button" onclick='location.href="/shop/delete/<%= data.id %>"'>삭제</button>
</body>

</html>